@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Open Sans;
   
}

body{
    background-color: #fdfeff;
    max-width: 100%;
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 40px;
    position: relative;
    top: 20px;
}

.list-item{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
    position: relative;
    top: 20px;
    left: 150px;
}

.onee{
    font-weight: 600;
    color: #000000;
}

.nav-btn{
    background: transparent;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: -20px;
    color: #28a0f3;
    font-weight: 600;
    border: 2px solid #28a0f3;
    z-index: 1;
}

.one .heading{
    font-size: 50px;
    position: relative;
    top: 150px;
    left: 125px;
}

.top{
    height: 600px;
    position: absolute;
    top: 80px;
    right: 0px;
}

.para-one{
    color: #5d5d5f;
    position: relative;
    top: 180px;
    left: 125px;
    line-height: 30px;
}

.pack{
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: linear-gradient(180deg, #09baf7 10%,#0575ed 90%);
    color: #fdfeff;
    font-weight: 600;
    box-shadow: 0px 0px 10px 1px rgba(4, 99, 234, 0.3);
    position: relative;
    top: 220px;
    left: 125px;
}

.security{
    height: 450px;
    position: relative;
    top: 500px;
    left: 35px;
}

.heading-2{
    font-size: 48px;
    position: relative;
    top: 25px;
    left: 885px;
}

.para-two{
    color: #5d5d5f;
    position: relative;
    top: 95px;
    left: 885px;
    line-height: 30px;
}

.two .read{
    background: linear-gradient(180deg,#09baf7 10%,#0575ed 90%);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 1px rgb(4, 99, 234,0.3);
    color: #ffffff;
    position: relative;
    top: 145px;
    left: 885px;
}

.heading-3{
    font-size: 48px;
    position: relative;
    top: 575px;
    left: 125px;
}

.para-three{
    color: #5d5d5f;
    position: relative;
    top: 605px;
    left: 125px;
    line-height: 30px;
}

.btntwo{
    background: linear-gradient(180deg,#09baf7 10%,#0575ed 90%);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 1px rgb(4, 99, 234,0.3);
    color: #ffffff;
    position: relative;
    top: 75px;
    left: 125px;
}

.support{
    height: 600px;
    position: relative;
    top: 245px;
    left: 650px;
}

.heading-4{
    font-size: 48px;
    position: relative;
    top: 375px;
    left: 125px;
}

.para-four{
    color: #5d5d5f;
    position: relative;
    top: 275px;
    left: 830px;
    line-height: 30px;
}


.feature-card .card{
    position: relative;
    top: 370px;
    left: 80px;
    margin: 0px 20px ;
    float: left;
    margin: 40px 20px;
}

.card{
    padding-right:70px ;
    height: 200px;
    z-index: 1;
}

.card, .card-img, .para-text, .card-head{
    background: #ffffff;
    max-width: 600px;
}

.card-img{
    height: 40px;
    margin-bottom: 30px;
}

.card-head{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
}

.para-text{
   color : #727274;
}

.six{
    background : linear-gradient(180deg,#09bff8 10%,#0462ea 90%);
    position: relative;
    top: 1100px;
    height: 1000px;
}

.packages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -450px;
}

.package{
    background-color: #ffffff;
    width: 320px;
    height: 750px;
    border-radius: 15px;
}

.heading-6 h1{
    color: #FFFFFF;
    font-size: 48px;
    position: relative;
    top: -500px;
    left: 500px;
    width: 800px;
}

.six ul{
    list-style-type: none;
}

.package-title h1{
    padding-left: 30px;
    padding-top: 25px;
}

.package-title p{
    padding-left: 30px;
    padding-top: 15px;
    font-size: 15px;
    color: #838a9e;
}

.packages-list, .packages-list-p{
    padding-left: 60px;
    padding-top: 50px;
}

.packages-list li, .packages-list-p li{
    margin-bottom: 30px;
    font-weight: 600;
}

.six li::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./images/green-check-mark-transparent-3.png);
    background-size: contain;
    margin-left: -30px;
    margin-right: 15px;
}

.pricing{
    margin-left: 55px;
    margin-top: 80px;
    font-size: 25px;
}

span{
    color: #7e859a;
}

.pricing p{
    font-size: 15px;
    margin-left: 50px;
    margin-top: 10px;
    color: #7d8599;
}

.btn{
    margin-left: 60px;
    margin-top: 50px;
    background: transparent;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    color: #28a0f3;
    font-weight: 600;
    border: 2px solid #28a0f3;
}

.active-btn{
    background: linear-gradient(180deg,#09baf7 10%,#0575ed 90%);
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 1px rgb(4, 99, 234,0.3);
    color: #ffffff;
    margin-left: 60px;
    margin-top: 55px;
}

#active{
    background-color: #353535;
    border-radius: 15px;
    height: 120px;
    color: #ffffff;
}

#active p{
    color:#ffffff;
}

.packages-list-p{
    padding-top: 21px;
}

.heading-7{
    font-size: 48px;
    color: #000000;
    position: relative;
    top: 1250px;
    left: 500px;
}

.para-seven{
    position: relative;
    top: 1270px;
    left: 20px;
    text-align: center;
    color: #989eaf;
}

.review{
    color: #000000;
    position: relative;
    top: 1350px;
    left: 80px;
    display: grid;
    gap: 250px;
    grid-template-columns: 500px 500px;
}

.review-one, .review-two, .review-three, .review-four{
    background: linear-gradient(90deg,#f8f8f8 10%,#ffffff 90%) ;
    width: 550px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgb(59, 58, 58,0.2);
}

.review-one{
    background : #ffffff;
    padding-left: 40px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.review-two{
    background : #ffffff;
    padding-left: 40px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.review-three{
    position: relative;
    top: -250px;
    background : #ffffff;
    padding-left: 40px;
    padding-top: 30px;
}

.review-four{
    position: relative;
    top: -250px;
    background : #ffffff;
    padding-left: 40px;
    padding-top: 30px;
}
.revieww p{
    line-height: 30px;
}

.dot{
    height: 70px;
    margin-top: 30px;
}

.name{
    margin-left: 90px;
    margin-top: -60px;
}

.below-name{
    margin-left: 90px ;
    margin-top: 5px;
    font-size: 14px;
}

.eight{
    height: 400px;
    background: linear-gradient(180deg,#09bff8 10%,#0462ea 90%);
    position: relative;
    top: 1300px;
    color: red;
}

.eight h1{
    color: #FFFFFF;
    font-size: 45px;
    position: relative;
    top: 100px;
    left: 150px;
}

.eight p{
    color: #FFFFFF;
    position: relative;
    top: 120px;
    left: 150px;
    font-size: 15px;
}

.eightbtn{
    position: relative;
    left: 1100px;
    padding: 20px 50px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    color: #fdfeff;
    font-weight: 600;
    box-shadow: 0px 0px 10px 1px rgba(4, 99, 234, 0.3);
}

footer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: relative;
   top: 1500px;
}

.logofooter{
    height: 50px;
    position: relative;
    top: -20px;
    left: 50px;
}

footer p{
    position: relative;
    top: 70px;
    left: -240px;
    line-height: 25px;
}

footer li{
    list-style-type: none;
}

.menus{
    position: relative;
    left: -240px;
    top: -10px;
    font-size: 25px;
    padding-bottom: 20px;
}

.menu-item{
    position: relative;
    left: -240px;
}

.menu-items{
    padding-bottom: 20px;
}

.links{
    position: relative;
    left: -160px;
    top: -10px;
    font-size: 25px;
    padding-bottom: 20px;
}

.link-item{
    position: relative;
    left: -160px;
}

.link-items{
    padding-bottom: 20px;
}

.overviews{ 
    position: relative;
    left: -90px;
    top: -10px;
    font-size: 25px;
    padding-bottom: 20px;
}

.overview-item{
    position: relative;
    left: -90px;
}

.overview-items{
    padding-bottom: 20px;
}

.sochead{
    position: relative;
    left: -50px;
    top: -10px;
    font-size: 25px;
    padding-bottom: 20px;
}

.media-items{
    display: inline-block;
    position: relative;
    left: -47px;
}

button,li {
    cursor: pointer;
  }